from tkinter import *
root=Tk()
entry=Entry(root)
entry.pack()


def digitx():
  contains_digit = any(map(str.isdigit, entry.get()))
  contains_uper = any(map(str.isupper,entry.get()))
  if contains_digit==True and contains_uper==True:
      print('i have the number')
      print('i have the upper')
  elif contains_uper = True:
      print("i have the upper")
  else:
      print('i don t have number i dont have the upper')

submit=Button(root,text='submit',command=digitx)
submit.pack()

root.mainloop()
